h1{
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: lightgray;
    height: 50px;
}

.menu-item {
    display: inline-block;
    width: 150px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
}

.sidebar {
    width: 32%;
    background-color: burlywood;
    float: left;
    height: 1500px;
    padding: 2%;
}

.pet-name img{
    width: 150px;
}

.main-content {
    width: 60%;
    float: left;
    padding: 2%;
}

.main-content img {
    width: 200px;
}